[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/bx"]
	path = submodules/bx
	url = https://github.com/bkaradzic/bx
[submodule "submodules/bimg"]
	path = submodules/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "submodules/bgfx"]
	path = submodules/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "submodules/enet-plus"]
	path = submodules/enet-plus
	url = https://github.com/xairy/enet-plus.git
[submodule "submodules/submodules/glm"]
	path = submodules/submodules/glm
	url = https://github.com/g-truc/glm
